.site-functions {
  padding-top: .25rem;

  .container-fluid {
    display: flex;
    justify-content: flex-end;
  }
}

.site-functions-nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  a {
    display: block;
    padding: .5rem .75rem;
    line-height: 1.3;
    font-size: 0.8125rem;
    font-weight: 400;
    text-decoration: none;
  }

  li:last-child a {
    padding-right: .125rem;
  }
}

.site-functions.bg-dark .site-functions-nav a {
  color: $uba-gray-medium;

  &:hover, &:focus {
    color: $uba-white;
    text-decoration: underline;
  }
}

.site-functions.bg-light .site-functions-nav a {
  color: $uba-gray-dark;

  &:hover, &:focus {
    color: $uba-web-blue;
    text-decoration: underline;
  }
}
