.social-media {
  display: flex;
  flex-wrap: wrap;
  gap: ($spacer * 1.25) ($spacer * 3.5);
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;

  a {
    display: block;
    line-height: 1;
    color: $uba-gray-dark;

    &:hover, &:focus {
      color: $uba-blue-dark;
    }

    &:focus-visible {
      outline: 2px solid currentColor;
      outline-offset: 2px;
    }
  }

  img,
  svg {
    display: block;
    width: $social-media-icon-size;
    height: $social-media-icon-size;
  }

  @include media-breakpoint-up(md) {
    column-gap: $spacer * 2.5;
  }
}
