.breadcrumb {
  margin: 1rem;
  border-top: 1px solid $uba-gray-light;
  border-bottom: 1px solid $uba-gray-light;
}

.breadcrumb-item {
  font-size: .825rem;

  a {
    color: $uba-gray;
    &:hover,
    &.hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      color: $uba-blue;
    }
  }
}
