.card {
  margin-bottom: 1rem;
}

.card-header {
  color: $uba-white;
  padding: 1rem .75rem;
  background: linear-gradient(to right, transparent, $uba-green, $uba-green),
      url('../images/bg-card-pattern.png');
}

.card-link {
  font-weight: bold;
  color: $uba-blue;
  &:hover,
  &.hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    color: $uba-blue-large;
  }
}

.border-primary {
  border: 15px solid $uba-gray-light;
  border-image: repeating-linear-gradient( -45deg, $uba-white, $uba-gray-light 1.5%) 15;
}
