.card-header {
  color: $uba-white;
  background: linear-gradient(to right, transparent, $uba-green, $uba-green),
      url('../images/bg-card-pattern.png');
}

.border-primary {
  border: 10px solid $uba-gray-light;
  border-image: repeating-linear-gradient( -45deg, $uba-white, $uba-gray-light 1%) 10;
}
