//
// Footer
//

.footer-links  {
  display: flex;
  flex-direction: column;

  ul { margin-bottom: .5rem; }
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid rgba($uba-gray, .25);
  background-color: $uba-gray-light;
  padding-top: 1.5rem;
  padding-bottom: 1rem;

  a {
    color: $uba-gray;
    &:hover,
    &.hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      color: $uba-blue;
    }
  }

  .list-unstyled { display: inline-flex; }
}
