.list-group-item {
  &:disabled,
  &.disabled {
    background-color: $uba-gray-light;
  }
}

.card .list-group-flush {
  .list-group-item-action {
    background-color: $uba-gray-light;

    &:hover,
    &:focus {
      background-color: $uba-web-blue;
      color: $uba-white;
      border-color: $uba-web-blue;
    }

    &.active {
      background-color: tint-color($uba-web-blue, 70%);
      border-color: tint-color($uba-web-blue, 50%);
      color: $uba-gray-dark;
    }
  }
}
