//
// Nav
//

.nav, .navbar { border-bottom: 10px solid $uba-blue; }
.nav, .bg-primary, .bg-dark { background-image: url('../images/bg-header-pattern.png'); }
.bg-light { background-image: url('../images/bg-box-pattern.png'); }
.bd-sidenav { background-image: none; }

.nav .nav-link {
  font-weight: $font-weight-bold;
  font-size: 15px;
  &:hover,
  &.hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    color: $uba-white;
    background-color: $uba-blue;
  }
  &.disabled {
    color: $uba-gray;
  }
}

.navbar .nav-link {
  font-weight: $font-weight-bold;
  font-size: 15px;
  padding-bottom: 1.5rem;
  margin-bottom: -1.5rem;
  &:hover,
  &.hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    color: $uba-white !important;
    background-color: $uba-blue;
  }
}

.navbar-collapse {
  &.show {
    .navbar-nav .nav-link {
      margin-bottom: .5rem;
      padding: .5rem;
    }
  }
}
