//
// Page Actions
//

.page-actions {
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid rgba($uba-gray, .25);
  background-image: url('../images/bg-box-pattern.png');
  padding-top: 1rem;
  padding-bottom: 1rem;

  li {
    display: flex;
    align-items: center;
  }

  .icon {
    width: 25px;
    height: 25px;

    &.print {
      background-image: url('../images/icon-print.svg');
      background-repeat: no-repeat;
    }

    &.top {
      background-image: url('../images/icon-top.svg');
      background-repeat: no-repeat;
    }
  }
}
