//
// Sitemap
//

.sitemap {
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid rgba($uba-gray, .25);
  background-color: $uba-gray-light;
  padding-top: 2rem;
  padding-bottom: 1rem;


  a {
    color: $uba-gray;
    &:hover,
    &.hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      color: $uba-blue;
    }
  }
}
