//
// Headlines
//

h1, h2 {
  font-family: 'MetaSerifComp-Medium';
	src: url('../fonts/MetaSerifWeb-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/MetaSerifWeb-Medium.woff') format('woff');
}

a {
  font-weight: $font-weight-bold;
}
