@use 'sass:color';

$uba-green: #5EAD35;
$uba-green-dark: #007626;
$uba-blue: color.adjust(#0081C7, $lightness: -4.7%);  // Linkfarbe => Originalfarbe zu hell für AAA-Kontrast (ARIA). Daher 4.7% dunkler.
$uba-blue-dark: #005E82;
$uba-white: #FFFFFF;
$uba-gray-light: #EDEDED;
$uba-gray: #666666;
$uba-gray-dark: #333333; // Textfarbe
$uba-purple: #955dA2;
$uba-purple-dark: #592D65;
$uba-yellow: #FBB93A;
$uba-yellow-dark: #D3812E;
$uba-red: #CE2f6A;
$uba-red-dark: #7C003D;

$primary:       $uba-blue;
$secondary:     $uba-gray;
$success:       $uba-green;
$info:          $uba-green;
$warning:       $uba-yellow;
$danger:        $uba-red;
$light:         $uba-gray-light;
$dark:          $uba-gray;
