$uba-green: #5EAD35;
$uba-green-dark: #007626;
$uba-blue: #009BD5;             // Brand colour (logos, illustrations)
$uba-blue-dark: #005F85;
$uba-web-blue: #2C8ABC;         // Primary/link colour on umweltbundesamt.de
$uba-white: #FFFFFF;
$uba-gray-light: #F0F1F1;
$uba-gray-medium: #C8C8C8;
$uba-gray: #4B4B4D;
$uba-gray-dark: #404040;        // Text colour + header background
$uba-purple: #9D579A;
$uba-purple-dark: #622F63;
$uba-yellow: #FABB00;
$uba-yellow-dark: #D78400;
$uba-red: #CE1F5E;
$uba-red-dark: #83053C;

$primary:       $uba-web-blue;
$secondary:     $uba-gray;
$success:       $uba-green-dark;
$info:          $uba-blue;
$warning:       $uba-yellow;
$danger:        $uba-red;
$light:         $uba-gray-light;
$dark:          $uba-gray-dark;
