@font-face {
	font-family: 'MetaCompPro-Normal';
	src: url('../fonts/MetaWebPro-Normal.eot?#iefix') format('embedded-opentype'), url('../fonts/MetaWebPro-Normal.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MetaCompPro-Bold';
	src: url('../fonts/MetaWebPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/MetaWebPro-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MetaSerifComp-Bold';
	src: url('../fonts/MetaSerifWeb-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/MetaSerifWeb-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MetaSerifComp-Medium';
  	src: url('../fonts/MetaSerifWeb-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/MetaSerifWeb-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
