// Variables
// See https://getbootstrap.com/docs/4.3/getting-started/theming/

$font-family-sans-serif: MetaCompPro-Normal, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

//
// General styles
//

$border-radius: 2px;
$border-radius-lg: 2px;
$border-radius-sm: 2px;

//
// Buttons
//

$btn-font-weight: 700;
$btn-font-size: 15px;
$btn-padding-y: .625rem;
$btn-padding-x: .625rem;
$btn-line-height: 1.333333rem;

$btn-box-shadow: none;
$btn-focus-box-shadow: none;
$btn-active-box-shadow: none;

//
// Links
//

$link-hover-color: $uba-gray;
$link-hover-decoration: none;

//
// Nav
//

$nav-link-disabled-color: $uba-gray;
$nav-link-padding-y: .725rem;
$nav-link-padding-x: 1rem;

$nav-tabs-border-color: transparent;
$nav-tabs-border-width: none;
$nav-tabs-border-radius: 0px;
$nav-tabs-link-hover-border-color: transparent;
$nav-tabs-link-active-color: $uba-white;
$nav-tabs-link-active-bg: $uba-blue;
$nav-tabs-link-active-border-color: transparent;

$navbar-dark-color: rgba($uba-white, 1);
$navbar-dark-disabled-color: $uba-gray;
$navbar-light-disabled-color: $uba-gray;
$dropdown-link-disabled-color: $uba-gray;

$nav-pills-border-radius: 0px;

// Dropdowns
//
// Dropdown menu container and contents.
//

$dropdown-min-width:                10rem;
$dropdown-padding-y:                0px;
$dropdown-spacer:                   .125rem;
$dropdown-color:                    $uba-white;
$dropdown-bg:                       $uba-blue;
$dropdown-border-color:             transparent;
$dropdown-border-radius:            0px;
$dropdown-border-width:             none;
$dropdown-divider-bg:               $uba-blue-dark;
$dropdown-divider-margin-y:         0px;
$dropdown-box-shadow:               none;

$dropdown-link-color:               $uba-white;
$dropdown-link-hover-color:         $uba-gray-dark;
$dropdown-link-hover-bg:            $uba-gray-light;

$dropdown-link-active-color:        $uba-blue;
$dropdown-link-active-bg:           $uba-gray-light;

$dropdown-link-disabled-color:      $uba-gray;

$dropdown-item-padding-y:           1rem;
$dropdown-item-padding-x:           1rem;

$dropdown-header-color:             $uba-white;
