// Variables
// See https://getbootstrap.com/docs/4.3/getting-started/theming/

$font-family-sans-serif: MetaCompPro-Normal, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

//
// General styles
//

$border-radius: 2px;
$border-radius-lg: 2px;
$border-radius-sm: 2px;

//
// Buttons
//

$btn-font-weight: 700;
$btn-font-size: 15px;
$btn-padding-y: .625rem;
$btn-padding-x: .625rem;
$btn-line-height: 1.333333rem;

$btn-box-shadow: none;
$btn-focus-box-shadow: none;
$btn-active-box-shadow: none;

//
// Links
//

$link-hover-decoration: none;

//
// Disabled Links
//

$navbar-dark-disabled-color:        $uba-gray;
$navbar-light-disabled-color:       $uba-gray;
$dropdown-link-disabled-color:      $uba-gray;

//
// Navs
//

$nav-link-padding-y:                .75rem;
$nav-link-padding-x:                1rem;

$nav-link-disabled-color:           $uba-gray;

$nav-tabs-border-color:             $uba-blue;
$nav-tabs-border-width:             0px;
$nav-tabs-border-radius:            0px;
$nav-tabs-link-active-color:        $uba-white;
$nav-tabs-link-active-bg:           $uba-blue;

$nav-pills-link-active-color:       $uba-white;
$nav-pills-link-active-bg:          $uba-blue;

$nav-divider-color:                 $uba-gray-dark;

//
// Navbar
//

$navbar-padding-y:                  1rem;
$navbar-padding-x:                  1.25rem;
$navbar-nav-link-padding-x:         .75rem;
$navbar-brand-font-size:            1rem;

$navbar-dark-color:                 $uba-white;
$navbar-dark-hover-color:           $uba-white;
$navbar-dark-active-color:          $uba-white;
$navbar-dark-disabled-color:        $uba-gray;
$navbar-dark-toggler-border-color:  $uba-blue;

$navbar-light-color:                $uba-gray-dark;
$navbar-light-hover-color:          $uba-white;
$navbar-light-active-color:         inherit;
$navbar-light-disabled-color:       $uba-gray;
$navbar-light-toggler-border-color: $uba-blue;

$navbar-light-brand-color:                $uba-blue;
$navbar-light-brand-hover-color:          $uba-blue-dark;
$navbar-dark-brand-color:                 $uba-white;
$navbar-dark-brand-hover-color:           $uba-gray-light;


//
// Dropdowns
//
// Dropdown menu container and contents.
//

$dropdown-padding-y:                0;
$dropdown-spacer:                   1px;
$dropdown-font-size:                15px;
$dropdown-color:                    $uba-white;
$dropdown-bg:                       $uba-blue;
$dropdown-border-color:             $uba-blue;
$dropdown-border-radius:            0;
$dropdown-border-width:             0;
$dropdown-inner-border-radius:      0;
$dropdown-divider-bg:               $uba-blue-dark;
$dropdown-divider-margin-y:         0;
$dropdown-box-shadow:               none;

$dropdown-link-color:               $uba-white;
$dropdown-link-hover-color:         $uba-gray-dark;
$dropdown-link-hover-bg:            $uba-gray-light;

$dropdown-link-active-color:        $uba-gray-dark;
$dropdown-link-active-bg:           $uba-gray-light;

$dropdown-link-disabled-color:      $uba-gray;

$dropdown-item-padding-y:           .75rem;
$dropdown-item-padding-x:           1rem;
